body{
width:99%;
height:800px;
background-repeat:no-repeat;
background-image: linear-gradient(bottom, rgb(250,250,250) 10%, rgb(175,250,231) 50%, rgb(36,171,45) 100%);
background-image: -o-linear-gradient(bottom, rgb(250,250,250) 10%, rgb(175,250,231) 50%, rgb(36,171,45) 100%);
background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 10%, rgb(175,250,231) 50%, rgb(36,171,45) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 10%, rgb(175,250,231) 50%, rgb(36,171,45) 100%);
background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 10%, rgb(175,250,231) 50%, rgb(36,171,45) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(250,250,250)),
	color-stop(0.5, rgb(175,250,231)),
	color-stop(1, rgb(36,171,45))
);

font-family: Bookman Old Style

}
#container{
position : absolute;
left:10%;
width:80%%;
height:800px;
}
#titre_accueil{
position :absolute;
left:35%;
top:3%;
}

#connexion{
position:absolute;
right:10%;
top:50%;
bottom:20%;
width :30%;
height :150px;
box-shadow: -2px -1px 5px 0px #4251b3;
border-radius:25px 25px 25px 25px;

}

.log{

font-size:40px;
padding:10px;
font-family: Bookman Old Style
}

.msg_accueil{
position :absolute;
left:10%;
top:40%;
width:30%;
font-size:40px;
font-weight:bold;
font-variant: small-caps;

}